@page "/products"
@inject IDataServices<Product> dataServices
@inject NavigationManager navigator
<div class="card">
    <div class="card-header">
        <div class="col-12">
            Products >>
            <a href="products/create" type="button" class="btn btn-primary">
                Create
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in ListOfProducts)
                {
                    <tr @onclick='()=> navigator.NavigateTo($"/products/edit/{item.Id}")'>
                        <td>@item.Name</td>
                        <td>@item.Code</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    protected List<Product> ListOfProducts = new List<Product>();
    protected override async Task OnInitializedAsync()
    {
        var list =await dataServices.GetAll();
        if (list .Result!= null)
        {
            ListOfProducts = list.Result.ToList();
        }
    }

}
